.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  font-size: 1.5rem;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
